dist/
build/
package_name/__pycache__/
**/__pycache__
**/UNKNOWN.egg-info
CachedExtensions/

CachedExtensionVSIXs/

User/

Machine/

extensions/

logs/

coder.json

machineid
**/sample.jsonl
**/WaveNetExploration
